html, body{
  background-color: #212529 !important;   
  color: #fff !important;
}
.bg-light{
background-color: #faf8f7 !important; 
}
.maincolor {
  color: #ff002b;
}
.text-main {
  color: #ff002b;
}
.bg-yellow{
  background-color: #FF9F1C !important; 
}
.text-yellow{
  color:#FF9F1C;
}
.btn-yellow{
  background-color: #FF9F1C;
  color: #fff;
  font-weight: bold;
  border-radius: 50% !important;
}
/* ------- Sections ------- */

/* section:target { 
  display: block !important;
} */

.smaller{
  font-size: 0.75em;
}

#gotop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: calc(100vw - 90%);
  z-index: 99;
  border: none;
  outline: none;
  background-color: #212529; 
  padding: 0px;
  color: #ff002b;
  cursor: pointer;     
}
.sqimg{
  object-fit: cover;    
}
details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline !important;
}
summary::-webkit-details-marker{
  color: #ff002b;
}
summary::marker{
  color: #ff002b;
}

iframe {
  height:calc(100vh - 4px);
  width:calc(100vw - 2px);
  box-sizing: border-box; 
}

figure{ 
  color: #ff002b;
  text-align: center;
  /* margin: 10px 0 20px 0 !important; */
}
figure:active{
  filter: grayscale(50%);
}
figure:focus{
  filter: grayscale(50%);
}
figure:focus-visible{
  filter: grayscale(50%);
}
figure:hover {
  filter: grayscale(50%);
}
figcaption{
  text-align: center;
  
}

svg:hover, svg:active, svg:focus-visible{
  color: #000; 
  filter: grayscale(50%) !important;
}
.menuItems a{
  text-decoration: inherit;
  color: #fff;
  cursor: pointer;
}

#detailsHome img{
  object-fit: cover;
  width: 100%;
  height: auto;
}
#detailsHome figure{
  object-fit: cover;
  width: 100%;
  height: auto;
}
#detailsHome picture{
  object-fit: cover;
  width: 100%;
  height: auto;
}
#detailsHome svg{
  object-fit: cover;
  width: 100%;
  height: auto;
}

#detailsHome video{
  object-fit: cover;
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF9F1C;
  border-radius: 10px;
  border: 2px solid #FF9F1C;
}

::-webkit-scrollbar-track { 
  background-color: #eee; 
}


#myModal figure{
  max-width: calc(100vw - 20px) !important;
  height: auto !important;
  object-fit: cover !important;
  align-items: center;
}

#myModal img{
  max-width: calc(100vw - 20px) !important;
  height: auto !important;
  object-fit: cover !important;
  align-items: center;
}

#myModal div{
  max-width: calc(100vw - 10px) !important; 
}

#myModal p{
  max-width: calc(100vw - 10px) !important; 
}

#myModal video{
  max-width: calc(100vw - 20px) !important;
  height: auto !important;
  object-fit: cover !important;
  align-items: center;
}

#myModal iframe{
  max-width: calc(100vw - 20px) !important;
  height: auto !important;
  object-fit: cover !important;
  align-items: center;
}

#myModal .embed-youtube{
  max-width: calc(100vw - 10px) !important;
  height: auto !important;
  object-fit: cover !important;
  align-items: center;
}

#myModal .embed-youtube{
  max-width: calc(100vw - 10px) !important;
  height: auto !important;
  object-fit: cover !important;
  align-items: center;
}






